USE [AIVideoProjectDB]
GO

/****** Object:  Table [dbo].[Stories] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Stories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserPrompt] [nvarchar](max) NOT NULL,
	[StoryContent] [nvarchar](max) NOT NULL,
	[ImagePath1] [nvarchar](500) NULL,
	[ImagePath2] [nvarchar](500) NULL,
	[ImagePath3] [nvarchar](500) NULL,
	[ImagePath4] [nvarchar](max) NULL,
	[AudioFilePath] [nvarchar](500) NULL,
	[FinalVideoPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Stories__3E82C0284A9FB020] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Stories] ADD  CONSTRAINT [DF__Stories__Created__37A5467C]  DEFAULT (getdate()) FOR [CreatedAt]
GO